header {
    background-color: #ff8c00; /* Couleur orange */
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    padding: 12px 0px;
}

h2 {
    margin: 0;
    padding: 8px 0px;
}

h3 {
    margin: 0;
    padding: 5px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 13px 25px;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 700;
}

.bandeau a:active{
    color:#c0392b;
}

footer{
    background-color: orange;
    color: antiquewhite;
    font-size: 13px;
    margin: 14px;
}

footer hr {
    margin : 20px;
}

.reseaux {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.reseaux img {
    width: 100px;
    height: 70px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

body{
    background-color: orange;
    color:#855d29;
    margin: 0;
    font-family: Inter, sans-serif;
}

main {
    width: 1700px;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.plat div, .infoClub div {
    flex: 1 1;
}

.plat img, .infoClub img{
    width: 170px;
    height: 170px;
    border-radius: 1em;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-right: 12px;
    background-color: rgb(209 125 0 / 22%);
}

.plat, .infoClub{
    margin: 14px;
    padding: 5px;
    border-radius: 1.2em;
    background-color: #ececec;
    color: black;
    display: flex;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 16%);
}

.liste {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.liste > a, .liste > div {
    width: 800px;
    max-width: 100%;
    text-decoration: none;
}

.listeHome {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.listeHome > a, .listeHome > div {
    width: 400px;
    height: 400px;
    max-width: 100%;
    text-decoration: none;
}

.platHome div, .infoClubHome div {
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgb(0 0 0), rgb(0 0 0 / 0%));
    color: white;
    padding: 10px;
    width: 100%;
}

.platHome img, .infoClubHome img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-color: rgb(209 125 0 / 22%);
}

.platHome, .infoClubHome{
    margin: 14px;
    border-radius: 1.2em;
    background-color: #ececec;
    color: black;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 16%);
    position: relative;
    overflow: hidden;
}





.hautdepage {
    text-align: center;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hautdepage h1 {
    font-size: 45px;
}
.hautdepage p {
    font-size: 20px;
}

@media (max-width: 480px) {
    .bandeau{
        flex-direction: column;
        text-align: center;
        font-size: 12px;
    }

    footer{
        flex-direction: column;
        font-size: 10px;
    }

}

.formulaire {
    text-align: center;
}

.formulaire form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.formulaire input {
    border-radius: 0.5em;
}

.img_plat {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1em;
}

header input {
    padding: 8px;
    border: none;
    border-radius: 0.5em;
}

header button, .formulaire input[type="submit"], .modif, .delete {
    padding: 8px 15px;
    border: none;
    border-radius: 0.5em;
    font-size: 13px;
    font-weight: 600;
    background: orange;
    color: white;
    cursor: pointer;
}
.delete{
    margin: 1em 0;

}


#topSide {
    display: flex;
}

#leftside {
    width: 50%;
}

#right {
    width: 50%;
}

#note {
    width: 100%
}

.titrePartie {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: orange;
    border-radius: 1em;
    margin: 5px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #e79000;
}