nav {
    background-color: #ff8c00; /* Couleur orange */
    padding: 10px;
    font-family: "Times New Roman", sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    justify-content: space-around;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bandeau a:active{
    color:#c0392b;
}

footer{
    background-color: orange;
    display: flex;
    color:antiquewhite;
    font-size: 13px;
}

body{
    background-color: orange;
    color:antiquewhite;

}

@media (max-width: 480px) {
    .bandeau{
        flex-direction: column;
        text-align: center;
        font-size: 12px;
    }

    footer{
        flex-direction: column;
        font-size: 10px;
    }

}